<nav class="navbar navbar-expand-lg navbar-dark dt-navbar">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">Mi Cuenta</a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                        <li><a class="dropdown-item" href="{% url 'usuarios:modificarContraseña' %}">Modificar contraseña</a></li>
                        <li><a class="dropdown-item" href="{% url 'usuarios:modificar' %}">Modificar Datos</a></li>
                        <li><a class="dropdown-item" href="{% url 'usuarios:eliminarCuenta' %}">Eliminar Cuenta</a></li>
                        <li><a class="dropdown-item" href="{% url 'usuarios:salir' %}">Salir</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="{% url 'donacion:inicio' %}">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'donacion:ingresarDonacion' %}">Agregar donación</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'donacion:verDonaciones' userId=user.id %}">Mis Donaciones</a></li>
            </ul>
        </div>
    </div>
</nav>
