{% extends "donacion/base_bootstrap.html" %}
{% load static %}
{% block extra_css %}<link rel="stylesheet" href="{% static 'donacion/eliminarDonacion.css' %}">{% endblock %}
{% block title %}Eliminar donación{% endblock %}
{% block content %}
<div class="ajuste">
    <div class="form-group dt-form-panel">
        <h1>Eliminar retiro</h1>
        <form id="Form" method="POST">
            {% csrf_token %}
            <h3>{{ donacion.nombre }}</h3>
            <div class="card dt-card-donacion" style="max-width:400px">
                <img class="card-img-top" src="{{ donacion.imagen.url }}" alt="Imagen de la donación" style="width:100%">
            </div>
            <br>
            <div class="centrarBotones">
                <p>¿Seguro desea eliminar la donación?</p>
                <button class="btn dt-action dt-action-eliminar" type="submit">Eliminar</button>
                <br><br>
                <a href="{% url 'donacion:verDonaciones' userId=user.id %}" class="btn dt-btn-outline" role="button">Volver</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
