{% extends "donacion/base_bootstrap.html" %}
{% load static %}
{% block extra_css %}<link rel="stylesheet" href="{% static 'donacion/modificarDonacion.css' %}">{% endblock %}
{% block title %}Modificar Donación{% endblock %}
{% block content %}
<div class="form-container dt-form-panel">
    <h1>Modificar Donación</h1>
    <form id="ModDonacion" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        {% include 'usuarios/includes/form_field_errors.html' %}
        <button type="submit" class="btn dt-btn-submit">Actualizar</button>
        <br><br>
        <a href="{% url 'donacion:verDonaciones' userId=user.id %}" class="btn dt-btn-outline" role="button">Volver</a>
    </form>
</div>
{% endblock %}
