{% extends "donacion/base_bootstrap.html" %}
{% load static %}
{% block extra_css %}<link rel="stylesheet" href="{% static 'donacion/ingresarDonacion.css' %}">{% endblock %}
{% block title %}Formulario de Donación de Objetos{% endblock %}
{% block content %}
<div class="form-container dt-form-panel">
    <h1>Formulario de Donación de Objetos</h1>
    <form id="donationForm" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        {% include 'usuarios/includes/form_field_errors.html' %}
        <button type="submit" class="btn dt-btn-submit">Enviar</button>
    </form>
</div>
<div class="form-container dt-form-panel ayuda-bloque">
    <p>En caso de necesitar ayuda para completar la inscripción, a continuación le ofrecemos un tutorial.</p>
    <a class="btn tutorial" href="{% url 'donacion:ayuda' %}" role="button">Tutorial</a>
</div>
{% endblock %}
