{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'donacion/modificarDonacion.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar Donación</title>
</head>
<body>
    <body>
        <!-- Barra de navegación -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Mi Cuenta
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                <li><a class="dropdown-item" href="{% url 'usuarios:modificarContraseña' %}">Modificar contraseña</a></li>
                                <li><a class="dropdown-item" href="{% url 'usuarios:modificar' %}">Modificar Datos</a></li>
                                <li><a class="dropdown-item" href="{% url 'usuarios:eliminarCuenta' %}">Eliminar Cuenta</a></li>
                                <li><a class="dropdown-item" href="{% url 'usuarios:salir' %}">Salir</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Donaciones
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                <li><a class="dropdown-item" href="{% url 'donacion:ingresarDonacion' %}">Ingresar donación</a></li>
                                <li><a class="dropdown-item" href="{% url 'donacion:verDonaciones' userId=user.id %}">Ver Donaciones</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    
        <!-- Contenedor del formulario -->
        <div class="form-container">
            <h1>Modificar Donación</h1>
            <form id="ModDonacion" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <span>Error: {{ error }}</span>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
                <button type="submit" class="btn btn-warning" >Actualizar</button>
                <br><br>
                <a href="{% url 'donacion:verDonaciones' userId=user.id %}" class="btn btn-warning" role="button">Volver</a>
            </form>
        </div>

</body>
</html>
